.spinner {
  height: 5rem;
  width: 5rem;
  border: 0.2em solid #ff0000;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 1s loader-03 linear infinite;
  position: relative;
}

@keyframes loader-03 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
