.container,
.container-bignav {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem;
  top: 5.6rem;
  width: 100%;
  height: 5.6rem;
  background: rgba(48, 48, 48, 0.95);
  border-top: 1px solid #767676;
  z-index: 5;
}

.container {
  left: 7.2rem;
}

.container-bignav {
  left: 24rem;
}

@media (max-width: 37.75em) {
  .container {
    left: 0;
  }
}

@media (max-width: 33.5em) {
  .container-bignav {
    left: 7rem;
  }
}
