.flex,
.flex-small,
.flex-like,
.flex-btn {
  display: flex;
}

.flex-small,
.flex-like {
  margin-bottom: 1rem;
}

.flex {
  width: 125.2rem;
  gap: 1rem;
  margin-bottom: 2.4rem;
  padding-right: 1rem;
}

.flex-small {
  gap: 0.5rem;
}

.flex-like,
.flex-btn {
  gap: 1rem;
}

.btn {
  border: none;
  background: transparent;
  margin-bottom: 1rem;
}

.flex-btn {
  color: #3ea6ff;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 120.2em) {
  .flex {
    width: 106.5rem;
  }
}

@media (max-width: 106.9em) {
  .flex {
    width: 90.1rem;
  }
}

@media (max-width: 91.75em) {
  .flex {
    width: 72.1rem;
  }
}

@media (max-width: 77.45em) {
  .flex {
    width: 57.7rem;
  }
}

@media (max-width: 28em) {
  .flex {
    width: 40.39rem;
  }
}
