.title,
.title-large,
.title-search {
  margin-bottom: 1rem;
}

.title,
.title-search {
  font-size: 1.6rem;
}

.title {
  width: 27.2rem;
}

.title-large {
  font-size: 1.8rem;
  padding-right: 0.5rem;
}

.title-small {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}
