.container,
.container-bignav {
  padding: 2.4rem;
  display: grid;

  row-gap: 4rem;
}

.container {
  grid-template-columns: repeat(5, 32rem);
  column-gap: 1.6rem;
}

.container ::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;
}

.container-bignav {
  padding-left: 10rem;
  grid-template-columns: repeat(4, 32rem);
  column-gap: 2.4rem;
}

@media (max-width: 108em) {
  .container {
    grid-template-columns: repeat(4, 32rem);
  }

  .container-bignav {
    grid-template-columns: repeat(3, 32rem);
  }
}

@media (max-width: 90.25em) {
  .container {
    grid-template-columns: repeat(3, 32rem);
  }

  .container-bignav {
    grid-template-columns: repeat(2, 32rem);
  }
}

@media (max-width: 60em) {
  .container {
    grid-template-columns: repeat(2, 32rem);
  }

  .container-bignav {
    grid-template-columns: repeat(1, 32rem);
  }
}

@media (max-width: 34.4em) {
  .container {
    grid-template-columns: repeat(1, 32rem);
    justify-content: center;
  }
}

@media (max-width: 33.5em) {
  .container-bignav {
    justify-content: center;
    padding-left: 2.5rem;
  }
}
