.container {
  position: fixed;
  padding: 2rem;
  width: 33.6rem;
  height: 100%;
  background: #212121;
  transform: translateY(-5.6rem);
}

.img-container {
  position: relative;
}

.watch {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.95);
  left: 0;
  bottom: 10%;
}

.img {
  width: 29.6rem;
  height: 16.5rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.videos {
  font-size: 1.4rem;
  color: #767676;
  width: 100%;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #767676;
}

.flex {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
}

@media (max-width: 78.9em) {
  .container {
    width: 26rem;
  }

  .img {
    width: 20.72rem;
    height: 11.5rem;
  }

  .watch {
    width: 20.72rem;
    height: 3rem;
  }
}

@media (max-width: 52.25em) {
  .container {
    display: none;
  }
}
